@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
    --grey-900: hsl(0, 0%, 8%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-700: hsl(0, 0%, 20%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --Inter: Inter;
}

body {
    background-color: var(--grey-900);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 20rem;
    background-color: var(--white);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.attribution {
    color: var(--white);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--green);
}
